{% extends 'base.html' %}

{% block title %}{{ page_title('Contact') }}{% endblock %}

{% block head_extra %}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1>Contact</h1>
    </div>
    <p class="lead">Below is a list of some sites you can find me on, and methods you can contact me on:</p>
    <ul class="list-unstyled">
      <li><i class="fa fa-twitter fa-fw"></i> Twitter: <a href="https://twitter.com/DanielJonss">@DanielJonss</a></li>
      <li><i class="fa fa-github-alt fa-fw"></i> Github: <a href="https://github.com/MaTachi">MaTachi</a></li>
      <li><i class="fa fa-tumblr fa-fw"></i> Tumblr: <a href="http://matachi.tumblr.com/">matachi.tumblr.com</a></li>
      <li><i class="fa fa-envelope fa-fw"></i> Email: <a href="mailto:dannie92@gmail.com">dannie92@gmail.com</a></li>
      <li><i class="fa fa-flickr fa-fw"></i> <a href="http://www.flickr.com/photos/81272265@N04/favorites/">Flickr favorites</a></li>
    </ul>
  </div>
</div>
{% endblock %}
