{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1>Daniel 'MaTachi' Jonsson</h1>
    </div>
    <p class="lead">When I was ~10 years old I started writing code and since then has my computer interest only increased. I'm currently studying Software Engineer at <a href="https://www.chalmers.se/en/Pages/default.aspx">Chalmers University of Technology</a> in Sweden.</p>
    <p>The programming languages I'm currently focusing on are Python and JavaScript, especially against the web. But I have also experience in Java, C++ and PHP.</p>
    <p>I'm interested in Linux and I have run distibutions such as Ubuntu, Debian, Arch Linux, Manjaro and Linux Mint.</p>
    <p>Podcast junkie is also a fitting epithet. A small selection of some podcasts I enjoy listening to are Coder Radio, Linux Action Show, TechSNAP, Plan B, Let's Talk Bitcoin, TuxRadar, Off The Hook and Ubuntu Podcast.</p>
  </div>
</div>
{% endblock %}
