{% extends 'base.html' %}

{% block title %}{{ page_title(page.title) }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <article>
      <header class="page-header">
        <h1>{{ page.title }} <small>{{ page.published }}</small></h1>
      </header>
      {{ page.html|safe }}
      <footer>
        {% with source_path = post_source(page.path) %}
        Post source code: <a href="{{ source_path }}">{{ source_path }}</a>
        {% endwith %}
      </footer>
    </article>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'matachi';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</div>
{% endblock %}
