body > .container {
  padding-top: 56px;
}

#site-footer {
  color: #333;
  font-size: 80%;
  margin: 5em 0;
}

#site-footer p {
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-left: -15px;
  }
}

.container {
  max-width: 768px;
}

article footer {
  border-top: 1px solid #eee;
  font-size: 80%;
  margin: 48px 0;
  padding: 11px 0 0;
}

.codehilite pre {
  overflow: auto;
  white-space: pre;
}
